.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.container-dashboard {
  width: calc(100% - 200px);
  height: auto;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(212, 241, 244, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
}
