body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: var(--Grays-White, #fff);
  }
  
  @media (max-width: 991px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      height: auto;
    }
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
  }
  
  .imageContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-icon {
    width: 100%;
    height: 100%;
  }
  
  .title {
    align-self: center;
    font: 80px/65px Lalezar, sans-serif;
    color: #05445e;
  }
  
  @media (max-width: 991px) {
    .title {
      font-size: 10vw;
      line-height: 12vw;
    }
  }
  
  .description {
    margin-top: 20px;
    font: 14px/20px Roboto, sans-serif;
    color: #05445e;
  }
  
  .joinButton {
    border-radius: 10px;
    background-color: #05445e;
    align-self: center;
    align-items: center;
    display: flex;
    width: 144px;
    max-width: 100%;
    flex-direction: column;
    font-size: 20px;
    color: var(--Grays-White, #fff);
    font-weight: 500;
    line-height: 160%;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  @media (max-width: 991px) {
    .joinButton {
      width: auto;
      padding: 10px 20px;
    }
  }
  