html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  flex-wrap: wrap;
}


.container {
  margin-top:  85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  background-color: var(--Grays-White, #fff);
  grid-template-areas: "textContent imageContent"; 
  margin-bottom: 200px;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "textContent"
      "imageContent";
  }
}

.textContent {
  grid-area: textContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  
}

.imageContent {
  grid-area: imageContent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.title {
  align-self: center;
  font: 80px/65px Lalezar, sans-serif;
  color: #05445e;
  text-align: center;
}

@media (max-width: 991px) {
  .title {
    font-size: 10vw;
    line-height: 12vw;
  }
}

.description {
  margin-top: 20px;
  font: 14px/20px Roboto, sans-serif;
  color: #05445e;
  text-align: center;
}

.joinButton {
  border-radius: 10px;
  background-color: #05445e;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box-shadow */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.joinButton:hover {
  background-color: rgba(0, 63, 92, 1);
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .joinButton {
    width: auto;
    padding: 10px 20px;
  }
}

.no-underline {
  text-decoration: none;
  color: inherit;
}

.about-us-wrapper {
  padding-bottom: 50px;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 66%, #979797 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 66%, #979797 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 66%, #979797 100%);
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px;
  padding: 20px;
}

.developer-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(212, 241, 244, 1);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  width: calc(50% - 20px);
  max-width: 600px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Added box-shadow */
}

.developer-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.developer-description-container {
  flex: 2;
  padding-left: 20px;
}

.developer-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.developer-name {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.developer-description {
  font-size: 16px;
  color: #333;
}

@media (max-width: 991px) {
  .developer-card {
    width: 100%;
  }
}

.section-header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  height: 80p;
  margin-top: 50px;
  
}

.section-header {
  font-size: 36px;
  text-align: center;
  color: #05445e;
}