
    .login1 {
      justify-content: center;
      align-items: center;
      background-color: var(--Grays-White, #fff);
      display: flex;
      padding: 100px 60px;
    }
    @media (max-width: 991px) {
      .div1 {
        padding: 0 0px;
      }
    }
    .login2 {
      border-radius: 20px;
      border-color: rgba(0, 0, 0, 1);
      border-style: solid;
      border-width: 1px;
      width: 648px;
      max-width: 100%;
      padding: 0px;
    }
    @media (max-width: 991px) {
      .login2{
        padding-left: 20px;
      }
    }
    .login3 {
      gap: 0px;
      display: flex;
      margin-left: 15px;
    }
    @media (max-width: 991px) {
      .login3 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 46%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .login4 {
      display: flex;
      margin-top: 80px;
      flex-direction: column;
      font-size: 14px;
      color: #05445e;
      line-height: 150%;
    }
    @media (max-width: 991px) {
      .login4 {
        margin-top: 40px;
      }
    }
    .loginlogo {
      aspect-ratio: 4.35;
      object-fit: contain;
      object-position: center;
      width: 250px;
      margin-left: 20px;
    }
    .login5 {
      display: flex;
      margin-top: 16px;
      flex-direction: column;
      padding: 0 22px;
    }
    @media (max-width: 991px) {
      .login5 {
        padding: 0 50px;
      }
    }
    .login6 {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      letter-spacing: -0.27px;
    }
    .login7 {
      justify-content: center;
      align-items: start;
      border-radius: 15px;
      border-color: rgba(5, 68, 94, 1);
      border-style: solid;
      border-width: 2px;
      background-color: #fff;
      margin-top: 4px;
      color: black;
      padding: 0px 10px;
      font: 400 18px/178% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-7 {
        padding: 0 20px;
      }
    }
    .login8 {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      letter-spacing: -0.27px;
      margin-top: 11px;
    }
    .login9 {
      justify-content: center;
      align-items: start;
      border-radius: 15px;
      border-color: rgba(5, 68, 94, 1);
      border-style: solid;
      border-width: 2px;
      background-color: #fff;
      margin-top: 4px;
      color: black;
      padding: 0px 10px;
      font: 400 18px/178% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;

    }
    @media (max-width: 991px) {
      .login9 {
        padding: 0 20px;
      }
    }
    .login10 {
      display: flex;
      margin-top: 5px;
      gap: 20px;
      font-size: 11px;
      letter-spacing: -0.12px;
    }
    .login11 {
      display: flex;
      gap: 0px;
      font-weight: 500;
      flex: 1;
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 14px;
    }
    .login12 {
      font-family: Poppins, sans-serif;
      margin: auto 0;
    }
    .login13 {
      font-family: Poppins, sans-serif;
      font-weight: 700;
      flex-grow: 1;
      flex-basis: min-content;
      text-align: right;
    }
    .login14 {
      border-radius: 15px;
      background-color: #05445e;
      display: flex;
      margin-top: 6px;
      flex-direction: column;
      color: var(--Grays-White, #fff);
      font-weight: 500;
      white-space: nowrap;
      text-align: center;
      line-height: 229%;
      justify-content: center;
    }
    @media (max-width: 991px) {
      .login14 {
        white-space: initial;
      }
    }
    .login15 {
      font-family: Poppins, sans-serif;
      border-radius: 15px;
      background-color: #05445e;
      align-items: center;
      justify-content: center;
      padding: 8px 60px;
      color: white;
    }
    @media (max-width: 991px) {
      .login5 {
        white-space: initial;
        padding: 0 20px;
      }
    }
    .login16 {
      letter-spacing: -0.23px;
      align-self: center;
      margin-top: 105px;
      font: 500 12px Poppins, sans-serif;
    }
    @media (max-width: 991px) {
      .login16 {
        margin-top: 40px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 54%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .login17 {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      aspect-ratio: 0.69;
      flex-grow: 1;
      padding: 80px 0 2px 47px;
    }
    @media (max-width: 991px) {
      .login17 {
        margin-top: 30px;
      }
    }
    .img-3 {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: fill;
      object-position: center;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }
    .login18 {
      position: relative;
      border-radius: 5px;
      background-color: var(--Grays-White, #fff);
      align-self: end;
      display: flex;
      margin-top: 330px;
      width: 155px;
      max-width: 100%;
      flex-direction: column;
      font-size: 11px;
      color: #05445e;
      font-weight: 500;
      text-align: center;
      line-height: 291%;
      justify-content: center;
      margin-right: 15px;
    }
    @media (max-width: 991px) {
      .login18 {
        margin-top: 40px;
      }
    }
    .login19 {
      font-family: Poppins, sans-serif;
      border-radius: 5px;
      background-color: var(--Grays-White, #fff);
      justify-content: center;
      padding: 0px 0px;
      margin-right: 0px;
      font-weight: 500;
    }
    @media (max-width: 991px) {
      .login19 {
        padding: 0 20px;
      }
    }
    .login20 {
      position: relative;
      text-align: right;
      color: var(--Grays-White, #fff);
      letter-spacing: 0px;
      align-self: start;
      margin-top: 12px;
      font: 700 20px/150% Poppins, -apple-system, Roboto, Helvetica,
        sans-serif;
    }