.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
}
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 215px;
  }
  
  .centered-table {
    width: 200px;
    max-width: 1200px; /* Adjust max-width as needed */
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .centered-table th, .centered-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .centered-table th {
    background-color: #f2f2f2;
  }
  .schedulebox {
    width:500px;
  }